</body>

<footer>
  <div>©2015-<%- new Date().getFullYear() %> Default theme on <a href="https://github.com/chunqiuyiyu/tusa">Tusa</a> rendered in (<%= Date.now() - startTime %>ms)</div>
</footer>

</html>
