<footer>
  <div>©<%- new Date().getFullYear() %> <a href="https://www.chunqiuyiyu.com">chunqiuyiyu</a> - Powered by <a href="https://github.com/chunqiuyiyu/tusa">Tusa</a> rendered in (<%= Date.now() - startTime %>ms)</div>
</footer>
<script src="/prism.js"></script>

</body>
</html>
